@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins, sans-serif;
    background-image: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    color: rgba(255, 255, 255, 0.85);   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%; 
    padding: 5rem 0;
}
h1 {
    font-size: 2rem;
    line-height: 1.3;
    color: white;
}
article p {
    font-weight:500;
    line-height: 1.7;
    padding: .5rem;
    color: rgba(255, 255, 255, 0.8);
}
article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 90%;
}
.label {
    width: 100%;
    background-color:  hsl(248, 32%, 49%);
    padding: 1.5rem 5rem;
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 8px hsla(270, 3%, 15%, 0.2);
}
.label span {
    font-weight: 600;
    color: white;
}
.form {
    background-color: white;
    color: black;
    padding: 1.35rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 8px hsla(270, 3%, 15%, 0.2);
}
 .form input {
    width: 100%;
    font-family: inherit;
    padding: 1.2rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    font-size: 1rem;
    color: hsl(249, 10%, 26%);
 }
 .form input::placeholder {
    font-weight: 700;
    font-size: 1rem;
 }
 .form button {
    border: none;
    padding: 1.2rem;
    font-family: inherit;
    font-weight: 500;
    background-color:  hsl(154, 59%, 51%);
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 5px hsla(154, 61%, 33%, 0.794);
 }
 .form p{
    color: hsl(246, 25%, 77%);
    font-size: .75rem;
    padding-inline: 1rem;
 } 
 .form p span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
 }
